@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&display=swap');
/* font-family: 'Open Sans', sans-serif; 
font-family: 'Raleway', sans-serif; */
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none; 
    display: inline-block;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.header-section{ 
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menu-icon{
    display: none;
}
.menu-icon{
    font-size: 28px;
    font-weight: 700;
    color: #fff;
}
.header-section .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255,0.3);
}
.header-logo a img{
    width: 100%;
}
.header-menu .menu{
    display: flex;
}
.header-menu .menu li a{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 13px;
    padding: 14px 30px;
    text-transform: uppercase;
}
.header-menu .menu li:last-child a{
    padding-right: 0;
}
/* ------- banner section ------- */
.banner-section{
    background-image: url(./img/banner\ img.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 254px;
    padding-bottom: 160px;
}
.banner-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-section .container h1{
    font-size: 65px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 68px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 0 80px;

}
.banner-section .container p{
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 42px;
    margin-bottom: 82px;
    text-align: center;
    padding: 0 110px;
}
.banner-section .container a{
    font-size: 13px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #fff;
    padding: 20px 46px;
    background-color: #e84545;
    border-radius: 2px;
}
/* -------- service-section -------- */
.service-section{
    padding: 120px 0;
}
.service-section .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 80px;
    
}
.service-section .container .service-item{
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px;
}
.service-section .container .service-item h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #2d3033;
    margin-top: 36px;
    margin-bottom: 26px;
    text-transform: uppercase;
}


.service-section .container .service-item p{
    text-align: center;
    color: #6c7279;
    padding-bottom: 50px;
}
/* ------- gallery section ------- */
.gallery-section{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1px;
    row-gap: 1px;
}
.gallery-section .gallery-item{
    max-width: calc(25% - 1px);
    position: relative;
    cursor: pointer;
}
.gallery-section .gallery-item img{
    width: 100%;
    height: 100%;
}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.4s;
}
.gallery-section .gallery-item:hover .overlay{
    background-color: rgba(218, 71, 71, 0.7);
}
.gallery-contant{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.4s;
}
.gallery-contant h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14;
    color: #fff;
    text-transform: uppercase;
    text-align: center;

}
.gallery-contant p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14;
    color: #fff;
    text-align: center;

}
.gallery-section .gallery-item:hover .gallery-contant{
    opacity: 1;
}

/* ------ team section -------- */
 .team-section{
    padding: 100px 0;
}
.team-section .container{
    display: flex;
    justify-content: space-between;

} 
.team-member{
    width: calc(25% - 22.5px);
}
.team-member h3, .team-member p{
    font-family: 'Raleway', sans-serif;
}
.team-member h3{
    font-size: 22px;
    color: #2D3033;
    margin-top: 30px;
    margin-bottom: 16px;
}

  /* e84545 */


.team-member p:first-of-type{
    font-size: 13px;
    text-transform: uppercase;
    color: #e84545;
}
.team-member p:last-of-type{
    font-size: 14px;
    color: #898e94;
    margin: 30px 0;
}
.team-meamber_socal-icon{
    display: flex;
    column-gap: 4px;
}

.team-meamber_socal-icon a{
    height: 40px;
    width: 40px;
    border: 1px solid #e8ecee;
    display: flex;
    justify-content: center;
    align-items: center;

}
.team-meamber_socal-icon a i{
    color: #c6cacc;
}





/* -------- testimonial section --------- */
.testimonial-section{
    background-color: #53354A;
}
.testimonial-contant{
    display: flex;
}
.tc-item{
    width: 50%;
}
.testimonial-image img{
    width: 100%;
    height: 100%;
}
.testimonial-text{
    padding-top: 100px;
    padding-left: 80px;

}
.testimonial-text p:first-of-type{
    font-size: 36px;
    font-style: italic;
    color: #fff;
    padding-right: 20px;
    
}

.testimonial-text p:last-of-type{
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}
.indicato{
    display: flex;
    margin-top: 64px;
    margin-left: 200px;
}
.indicator-item{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #897583;
}
.indicato .indicator-item:nth-child(2){
    background-color: #fff;
}







/* ======= responsive ======== */
@media screen and (max-width: 969px){
    .header-menu{
        display: none;
    }
    .menu-icon{
        display: inline-block;
    }

     /* ------ banner-section -------- */

    .banner-section .container h1 {
        font-size: 45px;
        line-height: 48px;
        padding: 0 60px;

    }
    /* ----- service section -------- */
    .service-section .container .service-item{
       max-width: 47.5%;
    }
}

@media screen and (max-width: 750px){
    .header-section {
        height: 85px;
 
    }
    .banner-section {
      
        padding-top: 200px;
        padding-bottom: 100px;
    }
    .banner-section .container p {
        margin-top: 42px;
        margin-bottom: 72px;
        
    }
}  


@media screen and (max-width: 650px){
    .banner-section .container h1 {
        font-size: 35px;
        line-height: 48px;
        padding: 0 40px;
    }
    .banner-section .container p {
        font-size: 18px;
        margin-top: 32px;
        margin-bottom: 62px;
        padding: 0 20px;
    }
    .banner-section .container a{
        padding: 12px 22px;

    }

}
@media screen and (max-width: 560px){
    .header-section {
        height: 72px;
    }
    .header-logo a img{
        width: 80%;
    }
    .menu-icon i{
        font-size: 22px;
    }
    .banner-section .container h1 {
      
        font-size: 28px;
        line-height: 38px;
        padding: 0 16px;
    }
    .banner-section .container p {
        margin-top: 32px;
        margin-bottom: 62px;
        padding: 0px;
    }
    .banner-section .container a{
        padding: 12px 20px;

    }
    .service-section .container .service-item{
        max-width: 100%;
        padding: 0 50px;
     }

}
@media screen and (max-width: 430px){
    .banner-section {
      
        padding-top: 160px;
        padding-bottom: 80px;
    }
    .banner-section .container h1 {
        font-size: 24px;
        line-height: 28px;
        padding: 0 10px;
    }
    .banner-section .container p {
        font-size: 15px;
        margin-top: 22px;
        margin-bottom: 32px;
       
    }

}
@media screen and (max-width: 350px){
    .header-section {
        height: 64px;
    }
    .header-logo a img{
        width: 70%;
    }
    .menu-icon i{
        font-size: 18px;
    }v
    .banner-section .container h1 {
        font-size: 24px;
        line-height: 28px;
        padding: 0 10px;
    }
    .banner-section .container p {
        font-size: 15px;
        margin-top: 22px;
        margin-bottom: 32px;
       
    }


}
